// =Colors ==================== //
$white: #FFFFFF;
$black: #000000;
$grayCCC: #CCCCCC;
$grayEEE: #EEEEEE;
$gray222: #222222;
$gray555: #555555;
$gray666: #666666;

$blue-light: #90CAF9;
$blue: #1E88E5;
$slate: #E3F2FD;
$pink-light: #F06292;
$pink-medium: #FF4081;
$pink-hard: #E91E63;

//=HTML ==================== //
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
main {
    flex: 1 0 auto;
}

// =Type & Headers ==================== //
.light {
    font-size: 12px;
    font-weight: 500;
}
.header {
    color: $pink-hard;
    font-weight: 300;
}
.subheader {
    color: $pink-light;
    font-weight: 300;
}

// =Gaps ==================== //
.gap-xs {
    margin: 25px 0px;
}
.gap-small {
    margin: 50px 0px;
}
.gap-medium {
    margin: 100px 0px;
}
.gap-large {
    margin: 200px 0px;
}
.gap-xl {
    margin: 300px 0px;
}

// =Media Queries ==================== //
@media (min-width: 0) and (max-width: 992px) {
    .card .card-title {
        font-size: 2em;
    }
    #b-title {
        margin-top: 50px;
    }
    .card-content p, .card-action {
        font-size: 1.4em;
    }
}