// =Gradient Loop ==================== //
// infinite gradient loop // http://jsfiddle.net/Svvift/7quvyphu //

body { }
#mainIndex {
    background: -webkit-linear-gradient(45deg, rgba(255, 0, 89, 1) 0%, rgba(0, 179, 255, 1) 33%, rgba(255, 0, 89, 1) 66%, rgba(0, 179, 255, 1) 100%);
    background: -moz-linear-gradient(45deg, rgba(255, 0, 89, 1) 0%, rgba(0, 179, 255, 1) 33%, rgba(255, 0, 89, 1) 66%, rgba(0, 179, 255, 1) 100%);
    background: -ms-linear-gradient(45deg, rgba(255, 0, 89, 1) 0%, rgba(0, 179, 255, 1) 33%, rgba(255, 0, 89, 1) 66%, rgba(0, 179, 255, 1) 100%);
    background: -o-linear-gradient(45deg, rgba(255, 0, 89, 1) 0%, rgba(0, 179, 255, 1) 33%, rgba(255, 0, 89, 1) 66%, rgba(0, 179, 255, 1) 100%);
    background: url('../../img/clouds-stars-scans.png') center center repeat, linear-gradient(45deg, rgba(255, 0, 89, 1) 0%, rgba(0, 179, 255, 1) 33%, rgba(255, 0, 89, 1) 66%, rgba(0, 179, 255, 1) 100%);
    background-size: 300% 300%;
    -webkit-animation: bodySwirl 100s linear infinite;
    -moz-animation: bodySwirl 100s linear infinite;
    animation: bodySwirl 100s linear infinite;
    height: 50vh;
    opacity: 0.9;
}
@-webkit-keyframes bodySwirl {
    0% {
        background-position: 100% 0%
    }
    100% {
        background-position: 15% 100%
    }
}
@-moz-keyframes bodySwirl {
    0% {
        background-position: 100% 0%
    }
    100% {
        background-position: 15% 100%
    }
}
@keyframes bodySwirl {
    0% {
        background-position: 100% 0%
    }
    100% {
        background-position: 15% 100%
    }
}

#blogIndex {
    background: -webkit-linear-gradient(45deg, rgba(255, 0, 89, 1) 0%, rgba(0, 179, 255, 1) 33%, rgba(255, 0, 89, 1) 66%, rgba(0, 179, 255, 1) 100%);
    background: -moz-linear-gradient(45deg, rgba(255, 0, 89, 1) 0%, rgba(0, 179, 255, 1) 33%, rgba(255, 0, 89, 1) 66%, rgba(0, 179, 255, 1) 100%);
    background: -ms-linear-gradient(45deg, rgba(255, 0, 89, 1) 0%, rgba(0, 179, 255, 1) 33%, rgba(255, 0, 89, 1) 66%, rgba(0, 179, 255, 1) 100%);
    background: -o-linear-gradient(45deg, rgba(255, 0, 89, 1) 0%, rgba(0, 179, 255, 1) 33%, rgba(255, 0, 89, 1) 66%, rgba(0, 179, 255, 1) 100%);
    background: linear-gradient(45deg, rgba(255, 0, 89, 1) 0%, rgba(0, 179, 255, 1) 33%, rgba(255, 0, 89, 1) 66%, rgba(0, 179, 255, 1) 100%);
    background-size: 400% 400%;
    -webkit-animation: bodySwirl 40s linear infinite;
    -moz-animation: bodySwirl 40s linear infinite;
    animation: bodySwirl 40s linear infinite;
    height: 10vh;
    opacity: 0.8;
}
@-webkit-keyframes bodySwirl {
    0% {
        background-position: 100% 0%
    }
    100% {
        background-position: 15% 100%
    }
}
@-moz-keyframes bodySwirl {
    0% {
        background-position: 100% 0%
    }
    100% {
        background-position: 15% 100%
    }
}
@keyframes bodySwirl {
    0% {
        background-position: 100% 0%
    }
    100% {
        background-position: 15% 100%
    }
}
