/* Override Materialize Styles */


/* =HTML Styles / Classes
============================= */
.light {
    font-size: 12px;
    font-weight: 500;
}
.header {
    color: #E91E63;
    font-weight: 300;
}
.subheader {
    color: #F06292;
    font-weight: 300;
}

/* =Gaps
============================== */
.gap-xs {
    margin: 25px 0px;
}

.gap-small {
    margin: 50px 0px;
}

.gap-medium {
    margin: 100px 0px;
}

.gap-large {
    margin: 200px 0px;
}

.gap-xl {
    margin: 300px 0px;
}


/* =Gradient Loop
============================= */
/* infinite gradient loop
http://jsfiddle.net/Svvift/7quvyphu/
*/
body { }
#mainIndex {
    background: -webkit-linear-gradient(45deg, rgba(255, 0, 89, 1) 0%, rgba(0, 179, 255, 1) 33%, rgba(255, 0, 89, 1) 66%, rgba(0, 179, 255, 1) 100%);
    background: -moz-linear-gradient(45deg, rgba(255, 0, 89, 1) 0%, rgba(0, 179, 255, 1) 33%, rgba(255, 0, 89, 1) 66%, rgba(0, 179, 255, 1) 100%);
    background: -ms-linear-gradient(45deg, rgba(255, 0, 89, 1) 0%, rgba(0, 179, 255, 1) 33%, rgba(255, 0, 89, 1) 66%, rgba(0, 179, 255, 1) 100%);
    background: -o-linear-gradient(45deg, rgba(255, 0, 89, 1) 0%, rgba(0, 179, 255, 1) 33%, rgba(255, 0, 89, 1) 66%, rgba(0, 179, 255, 1) 100%);
    background: url('../../img/clouds-stars35.png'), linear-gradient(45deg, rgba(255, 0, 89, 1) 0%, rgba(0, 179, 255, 1) 33%, rgba(255, 0, 89, 1) 66%, rgba(0, 179, 255, 1) 100%);
    background-size: 200% 200%;
    -webkit-animation: bodySwirl 65s linear infinite;
    -moz-animation: bodySwirl 65s linear infinite;
    animation: bodySwirl 65s linear infinite;
    height: 50vh;
    opacity: 0.9;
}
@-webkit-keyframes bodySwirl {
    0% {
        background-position: 100% 0%
    }
    100% {
        background-position: 15% 100%
    }
}
@-moz-keyframes bodySwirl {
    0% {
        background-position: 100% 0%
    }
    100% {
        background-position: 15% 100%
    }
}
@keyframes bodySwirl {
    0% {
        background-position: 100% 0%
    }
    100% {
        background-position: 15% 100%
    }
}


#blogIndex {
    background: -webkit-linear-gradient(45deg, rgba(255, 0, 89, 1) 0%, rgba(0, 179, 255, 1) 33%, rgba(255, 0, 89, 1) 66%, rgba(0, 179, 255, 1) 100%);
    background: -moz-linear-gradient(45deg, rgba(255, 0, 89, 1) 0%, rgba(0, 179, 255, 1) 33%, rgba(255, 0, 89, 1) 66%, rgba(0, 179, 255, 1) 100%);
    background: -ms-linear-gradient(45deg, rgba(255, 0, 89, 1) 0%, rgba(0, 179, 255, 1) 33%, rgba(255, 0, 89, 1) 66%, rgba(0, 179, 255, 1) 100%);
    background: -o-linear-gradient(45deg, rgba(255, 0, 89, 1) 0%, rgba(0, 179, 255, 1) 33%, rgba(255, 0, 89, 1) 66%, rgba(0, 179, 255, 1) 100%);
    background: linear-gradient(45deg, rgba(255, 0, 89, 1) 0%, rgba(0, 179, 255, 1) 33%, rgba(255, 0, 89, 1) 66%, rgba(0, 179, 255, 1) 100%);
    background-size: 400% 400%;
    -webkit-animation: bodySwirl 10s linear infinite;
    -moz-animation: bodySwirl 10s linear infinite;
    animation: bodySwirl 10s linear infinite;
    height: 10vh;
    opacity: 0.8;
}
@-webkit-keyframes bodySwirl {
    0% {
        background-position: 100% 0%
    }
    100% {
        background-position: 15% 100%
    }
}
@-moz-keyframes bodySwirl {
    0% {
        background-position: 100% 0%
    }
    100% {
        background-position: 15% 100%
    }
}
@keyframes bodySwirl {
    0% {
        background-position: 100% 0%
    }
    100% {
        background-position: 15% 100%
    }
}


/* =Footer (sticky footer)
============================= */
footer {
    height: 100%;
}
footer.page-footer {
    margin-top: 0px;
}
.page-footer {
    background-color: #FFFFFF;
}
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
main {
    flex: 1 0 auto;
}
ul#playlist li {
    display: inline !important;
}
.material-placeholder, .materialboxed {
    display: inline !important;
    margin-right: 5px;
}
.footer-border-top {
    border-top: 1px solid #EEEEEE;
}
.footer-border-bottom {
    border-bottom: 1px solid #EEEEEE;
}
.flink {
    font-size: 14px;
    color: #454545;
}
.flink:hover {
    color: #FFFFFF;
    text-shadow: /* h-shadow v-shadow blur-radius color */
        0 0 5px #FFFFFF,
        0 0 6px #E91E63,
        0 0 7px #FFFFFF,
        0 0 8px #E91E63;
    text-align: center;
}

/* =Nav, Side-Nav, Nav-Mobile
============================== */

/* // https://www.codeply.com/go/YSZPQp1wcB // */

nav {
    transition-duration: 1s;
}
.navbar-fixed {
    z-index: 998;
}
.side-nav li>a:hover {
    background-color: #F06292;
}

/* side-vav #nav-mobile */
.side-nav a:hover {
    background-color: #1E88E5;
}
.side-nav li {
    line-height: 64px;
}
.side-nav .collapsible-header:hover, .side-nav.fixed {
    background-color: #1E88E5;
}
.side-nav li > a > i, .side-nav li > a > [class^="mdi-"], .side-nav li > a > [class*="mdi-"], .side-nav li > a > i.material-icons {
    line-height: 64px;
}
.side-nav .divider {
    background-color: #222222;
}
.side-nav .subheader {
    font-size: 110%;
    color: #CCC;
}
.brand-logo:hover {
    background-color: rgb (0, 0, 0, 0.1);
}

/* =Materialize Overrides
============================== */

/* // waves // */
.waves-effect.waves-blue .waves-ripple {
    background-color: rgba(129, 212, 250, 0.85);
}

/* // dropdown // */
.dropdown-content li > a, .dropdown-content li > span {
    color: #000000;
}
.dropdown-content li > a:hover, .dropdown-content li > span:hover {
    background-color: #666666;
    color: #FFFFFF;
}



/* =PushPin side scroller fixed
============================== */
.toc-wrapper {
    margin-top: 0px;
    position: relative;
}
.pin-top {
    position: relative;
  }
.pinned {
    position: fixed !important;
  }



/* =Blog 
============================== */
#b-title {
    background: url('../../img/bg.jpg') center no-repeat;
}



/* =Breadcrumb
============================== */
.breadcrumb::before {
    color: #FFFFFF;
    content: none;
}
.breadcrumb:last-child {
    color: #F06292;
}
#breadscrumbs nav{
    box-shadow: none !important;
}
.breadcrumb:link {
    width: 100px;
    background-color: none;
    color: #F06292;
    display: inline-block;
    text-align: center;
}

.breadcrumb:hover, .breadcrumb:active {
    background-color: #F06292;
    color: #FFFFFF;
}

/* =Cards
============================== */
.card-medium {
    height: auto;
}
.sr .one .two .three .four .five .six .seven .eight .nine {
    visibility: hidden;
    display: none;
    perspective: 800px;
}



/* FORM CSS */
/* label color */

.input-field label {
    color: #E91E63;
}
/* label focus color */

.input-field input[type=text]:focus+label {
    color: #E91E63;
}
/* label underline focus color */

.input-field input[type=text]:focus {
    border-bottom: 1px solid #E91E63;
    box-shadow: 0 1px 0 0 #000;
}
/* valid color */

.input-field input[type=text].valid {
    border-bottom: 1px solid #E91E63;
    box-shadow: 0 1px 0 0 #000;
}
/* invalid color */

.input-field input[type=text].invalid {
    border-bottom: 1px solid #E91E63;
    box-shadow: 0 1px 0 0 #000;
}
/* icon prefix focus color */

.input-field .prefix.active {
    color: #E91E63;
}


/* =Social Media Icons
============================== */
.social:link {
    width: 50px;
    display: inline-block;

}
.social:hover, .social:active {
    background-color: none;
    color: none;
}

/* =Media Queries
============================== */
@media (min-width: 0) and (max-width: 992px) {

    /*
    html {
        font-size: 1.5em;
    }
    */
    .card .card-title {
        font-size: 2em;
    }
    
    /*
    nav, nav .nav-wrapper i, nav a.button-collapse, nav a.button-collapse i {
        height: 120px;
        line-height: 120px;
    }
    
    .side-nav .userView .name, .side-nav .userView .email {
        line-height: 100px;
    }
    
    .side-nav {
        width: 700px;
    }
    
    .side-nav a {
        font-size: 1em;
        font-weight: normal;
        height: 120px;
        line-height: 120px;
    }
    
    .side-nav li {
        line-height: 120px;
    }
    
    .side-nav li > a > i, .side-nav li > a > [class^="mdi-"], .side-nav li > a > [class*="mdi-"], .side-nav li > a > i.material-icons {
        line-height: 120px;
    }
    
    nav .button-collapse i {
    font-size: 4rem;
    }
    */
    #b-title {
        margin-top: 50px;
    }
    
    .card-content p, .card-action {
        font-size: 1.4em;
    }
    
}