/* Override Materialize Styles */

html #mainIndex {
  
    background: linear-gradient(225deg, #ff0000, #0098ff, #2800ff, #ff7e00);
    background-size: 200% 200%;

    -webkit-animation: AnimationName 25s linear infinite;
    -moz-animation: AnimationName 25s linear infinite;
    animation: AnimationName 25s linear infinite;
}
 
@-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes AnimationName { 
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}


/* =Footer (sticky footer)
============================= */
footer {
    height: 100%;
}
footer.page-footer {
    margin-top: 0px;
}
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }



/* =Nav, Side-Nav, Nav-Mobile
============================== */

nav ul li.active {
    background-color: #666666;
}

/* side-vav #nav-mobile */
.side-nav a:hover {
    background-color: #1E88E5;
}
.side-nav li {
    line-height: 64px;
}

/* waves */
.waves-effect.waves-blue .waves-ripple {
    background-color: rgba(129, 212, 250, 0.85);
}
.dropdown-content li > a, .dropdown-content li > span {
    color: #000000;
}
.dropdown-content li > a:hover, .dropdown-content li > span:hover {
    background-color: #666666;
    color: #FFFFFF;
}
.side-nav .collapsible-header:hover, .side-nav.fixed {
    background-color: #1E88E5;
}
.side-nav li > a > i, .side-nav li > a > [class^="mdi-"], .side-nav li > a > [class*="mdi-"], .side-nav li > a > i.material-icons {
    line-height: 64px;
}
.side-nav .divider {
    background-color: #222222;
}
.side-nav .subheader {
    font-size: 110%;
    color: #CCC;
}
#breadscrumbs nav{
    box-shadow: none !important;
}

/* =PushPin side scroller fixed
============================== */
.toc-wrapper {
    margin-top: 0px;
    position: relative;
}
.pin-top {
    position: relative;
  }
.pinned {
    position: fixed !important;
  }



/* =Blog 
============================== */
.card .card-image .card-title {
    background-color: #000000;
}

/* =Breadcrumb
============================== */
.breadcrumb::before {
    color: #000000
}


@media screen ()